* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
body{
    background: url(/img/background.png);
    
}
.container{
    background-color: #d1d1d1;
    width: 500px;
    margin: 100px auto;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
.input-task{
    width: 320px;
    border-radius: 7px;
    padding: 3px;
    height: 30px;
    border: none;
}
.button-add-task{
    background-color: #868686;
    width: 80px;
    float: right;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.button-add-task:hover{
    opacity: 0.8;
}

.button-add-task:active{
    opacity: 0.4;
}

.list-task{
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task{
    background-color: #F2F2F2;
    display: flex;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
}
img{
    opacity: 0;
    height: 25px;
}
.task:hover img{
    transition: 0.8s ease-in-out;
    opacity: 1;
}
.done{
    background-color: rgb(117, 204, 117);
    text-decoration: line-through ;
}
@media screen and (max-width:800px) {
    .container{
        width: 100%;
    }
    
    .input-task{
        width: 220px;
        border-radius: 7px;
        padding: 3px;
        height: 30px;
        border: none;
    }
    .button-add-task{
        background-color: #868686;
        width: 80px;
        float: right;
        font-size: 13px;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 5px;
        height: 30px;
        cursor: pointer;
    }

}
@media screen and (width:280px){
    .container{
        width: 100%;
    }
    
    .input-task{
        width: 150px;
        border-radius: 7px;
        padding: 3px;
        height: 30px;
        border: none;
    }
    .button-add-task{
        background-color: #868686;
        width: 80px;
        float: right;
        font-size: 13px;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 5px;
        height: 30px;
        cursor:pointer;
    }
}
